{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "::base.html.twig" %}

{% block title %}New Todo{% endblock %}

    {% block stylesheets %}        
        {% stylesheets 'bundles/todo/js/jquery-ui-1.11.4/jquery-ui.css' filter='cssrewrite' %} 
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}    
        {% stylesheets 'bundles/todo/js/jquery-ui-1.11.4/jquery-ui.structure.css' filter='cssrewrite' %} 
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% stylesheets 'bundles/todo/js/jquery-ui-1.11.4/jquery-ui.theme.css' filter='cssrewrite' %} 
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <section id="input">
            <h1>Add a new todo</h1>

            {{ form_start(form) }}

            {% block title_row %}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            {% endblock title_row %}                        

            {{ form_end(form) }}
        </section>
    </div>
{% endblock content %}
