<div id="menu" class="menu">
    <div id="menu-home" class="btn btn-default"><a href="{{ url('todo_homepage') }}">Home</a></div>
    <div id="menu-todo" class="btn btn-default"><a href="{{ url('todo_homepage') }}">Todo&apos;s</a></div>    
    <div class="btn btn-default"><a href="{{ url('todo_homepage') }}">Shopping</a></div>
    <div class="btn btn-default"><a href="{{ url('todo_homepage') }}">Memos</a></div>       
</div>
<div class="menu menu-todo hidden">
    <div class="btn btn-default"><a href="{{ url('todo_new') }}">New</a></div>
    <div class="btn btn-default"><a href="{{ url('todo_show_list') }}">Show</a></div>
</div>